.DS_Store
*.o
main
.vscode/

.code/*.txt
bfs_large_1.txt
bfs_med_1.txt
bfs_small_1.txt
bfs_small_2.txt
bfs_small_3.txt
floyd_med_output.txt
floyd_small_output.txt
floyd_large_output.txt
testcase.txt
Astar_test_medium_1.txt
Astar_test_small_1.txt
Astar_test_small_2.txt
Astar_test_small_3.txt
Astar_test_whole.txt
Astar_test_whole_2.txt